/*공통*/
*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#888888;
}
img{
	vertical-align:top;
	border:0;
}
body{
	background:#ffffff;
	font-family:"돋움",dotum,sans-serif;
	font-size:14px;
	color:#888888;
}
address{
	font-style:normal;
}
/*레이아웃*/
.center{
	width:1200px;
	margin:0 auto;
}
/*header*/
header{
	height:100px;
	border-top:2px solid #4a4948;
	box-sizing:border-box;
}
.logo{
	float:left;
	margin-top:30px;
}
#nav{
	float:right;
	margin:25px 25px 0 0;
	text-align:center;
}
#nav>li{
	float:left;
}
#nav>li>a{
	display:block;
	width:170px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	background:#caac7d;
	color:black;
	transition:0.5s;
}
#nav>li:hover>a{
	color:#fff;
	background:#4a4948;
}
.sub{
	display:none;
	position:absolute;
	top:75px;
	padding-bottom:10px;
}
.sub>li>a{
	display:block;
	width:170px;
	line-height:40px;
	background:rgba(255,255,255,0.9);
	color:black;
	transition:0.5s;
}
.sub>li:hover>a{
	color:#fff;
	background:#414948;
}
/*visual*/
#visual{
	height:300px;
	overflow:hidden;
}
/*container*/
#container{
	height:200px;
}
section{
	width:400px;
	float:left;
	padding:10px;
	box-sizing:border-box;
}
.title{
	font-size:16px;
	color:black;
	font-weight:bold;
	margin-bottom:10px;
}
.notice{}
.notice>li{
	line-height:2.5;
}
.notice>li>a{
	float:left;
}
.notice>li>span{
	float:right;
}
.gallery{}
.gallery>li{
	float:left;
	margin:10px 8px;
	text-align:center;
}
.gallery>li span{
	display:block;
}
/*footer*/
footer{
	border-top:1px solid #4a4948;
	box-sizing:border-box;
	height:100px;
}
.footLogo{
	float:left;
	margin-top:30px;
}
.copy{
	float:left;
	margin:20px 0 0 250px;
	line-height:2.5;
}
.copy>p{
	font-size:12px;
}

.sns{
	float:right;
	margin:20px
}
.sns>li{
	float:left;
	margin-left:20px;
}
/*popup*/
.popup{
	display:none;
	width:600px;
	height:380px;
	position:absolute;
	top:120px;
	left:50%;
	transform:translateX(-50%);
	background:#fff;
	border:1px solid #4a4948;
	padding:10px;
	box-sizing:border-box;
	line-height:1.8;
}
.popup>.title{
	border-bottom:1px solid #caac7d;
	padding-bottom:10px;
	margin-bottom:10px;
}
.close{
	position:absolute;
	right:10px;
	bottom:10px;
	border:1px solid #4a4948;
}
.close>a{
	padding:5px 10px;
}

